<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcjd.app_server.mapper.AttendanceRecordPojoMapper">
  <resultMap id="BaseResultMap" type="com.zcjd.app_server.model.AttendanceRecordPojo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="dk_time" jdbcType="VARCHAR" property="dkTime" />
    <result column="delete_state" jdbcType="INTEGER" property="deleteState" />
    <result column="late_state" jdbcType="VARCHAR" property="lateState" />
    <result column="leave_early" jdbcType="VARCHAR" property="leaveEarly" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="lon" jdbcType="VARCHAR" property="lon" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, dk_time, delete_state, late_state, leave_early, time, lon, lat, address
  </sql>
  <select id="selectByExample" parameterType="com.zcjd.app_server.model.AttendanceRecordPojoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hr_attendance_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hr_attendance_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hr_attendance_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zcjd.app_server.model.AttendanceRecordPojoExample">
    delete from hr_attendance_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zcjd.app_server.model.AttendanceRecordPojo">
    insert into hr_attendance_record (id, user_id, dk_time, 
      delete_state, late_state, leave_early, 
      time, lon, lat, address
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{dkTime,jdbcType=VARCHAR}, 
      #{deleteState,jdbcType=INTEGER}, #{lateState,jdbcType=VARCHAR}, #{leaveEarly,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{lon,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zcjd.app_server.model.AttendanceRecordPojo">
    insert into hr_attendance_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="dkTime != null">
        dk_time,
      </if>
      <if test="deleteState != null">
        delete_state,
      </if>
      <if test="lateState != null">
        late_state,
      </if>
      <if test="leaveEarly != null">
        leave_early,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="lon != null">
        lon,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="dkTime != null">
        #{dkTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteState != null">
        #{deleteState,jdbcType=INTEGER},
      </if>
      <if test="lateState != null">
        #{lateState,jdbcType=VARCHAR},
      </if>
      <if test="leaveEarly != null">
        #{leaveEarly,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        #{lon,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zcjd.app_server.model.AttendanceRecordPojoExample" resultType="java.lang.Long">
    select count(*) from hr_attendance_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hr_attendance_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.dkTime != null">
        dk_time = #{record.dkTime,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteState != null">
        delete_state = #{record.deleteState,jdbcType=INTEGER},
      </if>
      <if test="record.lateState != null">
        late_state = #{record.lateState,jdbcType=VARCHAR},
      </if>
      <if test="record.leaveEarly != null">
        leave_early = #{record.leaveEarly,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.lon != null">
        lon = #{record.lon,jdbcType=VARCHAR},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hr_attendance_record
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      dk_time = #{record.dkTime,jdbcType=VARCHAR},
      delete_state = #{record.deleteState,jdbcType=INTEGER},
      late_state = #{record.lateState,jdbcType=VARCHAR},
      leave_early = #{record.leaveEarly,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      lon = #{record.lon,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcjd.app_server.model.AttendanceRecordPojo">
    update hr_attendance_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="dkTime != null">
        dk_time = #{dkTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteState != null">
        delete_state = #{deleteState,jdbcType=INTEGER},
      </if>
      <if test="lateState != null">
        late_state = #{lateState,jdbcType=VARCHAR},
      </if>
      <if test="leaveEarly != null">
        leave_early = #{leaveEarly,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        lon = #{lon,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcjd.app_server.model.AttendanceRecordPojo">
    update hr_attendance_record
    set user_id = #{userId,jdbcType=VARCHAR},
      dk_time = #{dkTime,jdbcType=VARCHAR},
      delete_state = #{deleteState,jdbcType=INTEGER},
      late_state = #{lateState,jdbcType=VARCHAR},
      leave_early = #{leaveEarly,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>